.img_product {
    border: 1px solid #d8d8d8;
    height:100%;
    width: 100%;
    margin: 0 auto;
}

#panel-productos.panel-default>.panel-heading {
    background-color: #89cac4 !important;
}

#panel-title-productos.panel-title {
    padding-top: 7.5px;
    font-size: 1.5em;
    font-weight:bold;
}

.btn-search-product{
    border-color: #515658;
}

.search-product {
    border: 1px solid #515658;
    width: 250px !important;
}

#filtro-tipo {
    border: 1px solid #515658;
}

#table-productos>tbody>tr>td{
    padding: 5px;
    vertical-align: middle;
}

#table-productos>thead>tr>th{
    vertical-align: middle;
    text-align: center;
}

#alert-message {
    color: #8a1d1d;
    font-weight: bold;
    font-size: 1.35em;
}

.cantidad-producto {
    width: 100px !important;
}